@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: #0e1324;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: #0e1324;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-rgb);
}
