# If we are a computer with nix-shell available, then use that to setup
# the build environment with exactly what we need.
if has nix; then
  # Can add ". --impure" if we ever need the parent shell environment. We might.
  use flake
fi
