vendor/** linguist-vendored
website/** linguist-documentation
pkg/cimgui/vendor/** linguist-vendored
src/simd/simdutf.h linguist-vendored
src/simd/simdutf.cpp linguist-vendored
src/terminal/res/** linguist-vendored
