*~
.*.swp
.swp
*.log
.DS_Store
.vscode/
.direnv/
.flatpak-builder/
zig-cache/
.zig-cache/
zig-out/
/result*
example/*.wasm
test/ghostty
test/cases/**/*.actual.png

glad.zip
/Box_test.ppm
/Box_test_diff.ppm
