label.url-overlay {
  padding: 4px 8px 4px 8px;
  outline-style: solid;
  outline-color: #555555;
  outline-width: 1px;
}

label.url-overlay:hover {
  opacity: 0;
}

label.url-overlay.left {
  border-radius: 0px 6px 0px 0px;
}

label.url-overlay.right {
  border-radius: 6px 0px 0px 0px;
}

label.url-overlay.hidden {
  opacity: 0;
}

label.size-overlay {
  padding: 4px 8px 4px 8px;
  border-radius: 6px 6px 6px 6px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #555555;
}

label.size-overlay.hidden {
  opacity: 0;
}

.transparent {
  background-color: transparent;
}
