label.url-overlay {
  padding: 2px;
}

label.url-overlay:hover {
  opacity: 0;
}

label.url-overlay.hidden {
  opacity: 0;
}

label.size-overlay {
  padding: 4px 8px 4px 8px;
  border-radius: 6px 6px 6px 6px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #555555;
}

label.size-overlay.hidden {
  opacity: 0;
}
